.leftmenu{
    width: 240px;
    height: 100%;
    z-index: 1;
    min-height: 100Vh;
    background-color: rgba(34,34,34,0.6);
    backdrop-filter: blur(10px);
    overflow: hidden;
    padding: 20px 15px;
    transition: all 0.3 cubic-bezier(.17,.67,1,.19);

}
.leftmenu .logoContainer{
    color:#f1f1f1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.leftmenu .logoContainer i{
    font-size: 30px;
    margin-left: 20px;
}
.leftmenu .logoContainer h2{
    transform: translateX(-25px);
    
}
.leftmenu .logoContainer i:nth-last-of-type(2){
    font-size: 20px !important;
}
.leftmenu .logoContainer h2{
    font-size: 20px;
}
.searchBax{
    width: 100% ;
    height: 45px;
    position: relative;
    margin-top: 20px;
    /* background-color: rebeccapurple; */
    color: #848484;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.4);
}
.searchBax input{
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    background:rgba(0,0,0,0.5);
    padding-left:45px ;
    color: #f1f1f1;
    font-size:14px;
    font-weight: bold;

}
.searchBax .serachIcon{
    position: absolute;
    color: #848484;
    top: 0;
    left: 0;
    width: 45px;
    height: 45px;
    align-items: center;
    display: flex;
    justify-content: center;
    line-height: 45px;
    font-size: 25px;
}
.menuContainer{
    margin: 15px 0;

}
.menuContainer .title{
    color:#848484;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: uppercase;


}
.menuContainer ul{
    width: 100%;
    padding: 0;
}
.menuContainer ul li{
    list-style: none;
    margin:5px 0;
    width: 100%;
    padding: 5px 0px;
    position: relative;

}
.menuContainer ul li a{
    text-decoration:none;
    color:#848484;
    display:flex;
    align-items: center;
    font-size:16px;

}
.menuContainer ul li a i{
    font-size:18px;
    margin-right: 15px;
}
.menuContainer ul li::before{
    position:absolute;
    content: '';
    top: 0;
    width: 5px;
    height: 0;
    background-color: #49e12e;
    border-radius: 5px;
    left:-15px;
    
}
.menuContainer ul li:hover:before,
.menuContainer ul li.active:before{
    height: 100%;
    transition:width 0.3s;
}
.menuContainer ul li a:hover,
.menuContainer ul li.active a{
    color: #f1f1f1;
    transition:0.3s;
}
.playListContainer{
    cursor: pointer;
    margin: 15px 0;
}
.playListContainer .nameContainer{
    display:flex;
    justify-content:space-between;
    align-items: center;
    color: #848484;
    margin-bottom: 10px;

}
.playListContainer .nameContainer p{
    font-size:12px;
    font-weight: bold;
    text-transform:uppercase;
}
.playListContainer .nameContainer i{
    cursor:pointer;
    color: #f1f1f1;
}
.playListContainer .playListScroll{
    height: 160px;
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;

}
.playListContainer .playListScroll .playList{
    display: flex;
    color: #848484;
    align-items:center;
    margin: 10px 0;
}
.playListContainer .playListScroll .playList .list i{
    font-size: 18px;
}
.playListContainer .playListScroll .playList .list{
    margin-right: 15px;
}
.playListContainer .playListScroll .playList .trash{
    margin-left: auto;
}
.playListContainer .playListScroll .playList p{
    font-size: 16px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: inline;
}
.playListContainer .playListScroll .playList:hover,
.playListContainer .playListScroll .playList.active{
    color: #f1f1f1;
}
.trackList{
    border: 1px solid rgba(255,255,255,0.1);
    padding-top: 10px;
    padding-bottom: 10px;
    border-left: none ;
    border-right:none;
}
.trackList .top{
    display: flex;
    align-items: center;

}
.trackList .top .trackName{
    margin-left: 15px;
    color: #f1f1f1;
    font-size: 14px;

}
.trackList .top .trackName .trackSpan{
    display: block;
    font-size: 12px;
    color: #848484;
}
.trackList .top img{
    width:50px !important ;


}
.trackList .bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    color: #848484;
}
.trackList .bottom i{
    font-size: 18px;
}
.trackList .bottom i:hover{
    color: #f1f1f1;
    transition:0.3s;
    cursor: pointer;

}
.trackList .bottom input{
    position: relative;
    height: 5px;
    border: none;
    outline: none;
    border-radius: 5px;
    background: rgba(255,255,255,0.1);
    appearance: none;

}
.trackList .bottom input::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    background: #49e12e;
    width: 50%;
    height: 100%;
    border-radius: 10px;
    z-index: 2;
    transition:width 250ms linear;
}
.trackList .bottom input::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 10px;
    height: 20px;
    border-radius: 10px;
    background-color: #f1f1f1;
    border: 2px solid #000;
    cursor: pointer;
    position: relative;
    margin: -2px 0 0 0;
    z-index: 3;
    box-sizing: border-box;
    transition:all 250ms linear;

}
.trackList .bottom input::-moz-progress-bar{
    background:#49e12e;
    width: 50%;
    height: 50%;
    border-radius: 10px;
    z-index: 2;
    transition: width 250ms linear;
}
.trackList .bottom input::-moz-range-thumb{
    background:#49e12e;
    width: 50%;
    height: 50%;
    border-radius: 10px;
    z-index: 2;
    transition: width 250ms linear;
}
@media screen and (max-width: 550px){
    .leftmenu{
        width: 64px;
        height: 300px;
    }
    .leftmenu .searchBax {
        display: none;
      }
      .leftmenu .logoContainer h2{
          display: none;
      }
      .leftmenu .logoContainer .logosportify{
        transform: translateX(-15px);
        
    }
    .leftmenu .logoContainer .iconellpish{
        display: none;
    }
    
      .leftmenu .trackList {
        display: none;
      }
    
      .leftMenu .playListContainer {
        display: none;
      }
    
      .leftmenu .menuContainer ul li a span {
        display: none;
      }
      .leftmenu .menuContainer ul li a i {
        font-size: 25px;
      }
    
      .leftmenu .menuContainer ul li {
        margin: 25px 5px;
      }
      .playListContainer {
          display: none;
      }
    
}